rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /cotizaciones/{allPaths=**} {
      allow read, write: if true;
    }
    match /map-assets/{allPaths=**} {
      allow read, write: if true;
    }
    match /landing-assets/{allPaths=**} {
      allow read, write: if true;
    }
    match /tech_tree_images/{allPaths=**} {
      allow read, write: if true;
    }
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}
